In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train=pd.read_csv('train.csv')

In [3]:
df_test=pd.read_csv('test.csv')

In [4]:
df_train.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARITAL_STATUS,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,INSTALLMENT_AMT_2,INSTALLMENT_AMT_3,INSTALLMENT_PAID_1,INSTALLMENT_PAID_2,INSTALLMENT_PAID_3,DEFAULT.PAYMENT.NEXT.MONTH
0,12194,220000.0,FEMALE,graduate school,MARRIED,54,1,-2,-1,0.0,0.0,788.0,0.0,788.0,0.0,0
1,7068,90000.0,FEMALE,graduate school,SINGLE,30,2,2,3,750.0,750.0,750.0,0.0,0.0,0.0,0
2,1446,80000.0,FEMALE,university,SINGLE,25,2,3,2,69602.0,67930.0,72205.0,0.0,6000.0,2700.0,0
3,318,260000.0,FEMALE,high school,MARRIED,53,1,-1,-1,0.0,165.0,526.0,165.0,526.0,452.0,0
4,13732,30000.0,FEMALE,university,SINGLE,23,0,0,0,25287.0,26501.0,30300.0,2011.0,5000.0,868.0,0

In [5]:
df_test.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARITAL_STATUS,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,INSTALLMENT_AMT_2,INSTALLMENT_AMT_3,INSTALLMENT_PAID_1,INSTALLMENT_PAID_2,INSTALLMENT_PAID_3
0,16691,150000.0,MALE,university,MARRIED,36,2,2,0,88655.0,86333.0,88931.0,0.0,4000.0,5000.0
1,15039,50000.0,MALE,university,SINGLE,33,0,0,0,8406.0,8418.0,8347.0,3000.0,3000.0,7508.0
2,7736,30000.0,FEMALE,graduate school,SINGLE,28,0,0,0,36541.0,17625.0,26243.0,5000.0,11000.0,3000.0
3,20871,200000.0,MALE,graduate school,SINGLE,31,1,2,2,182307.0,186128.0,197509.0,8300.0,15900.0,200.0
4,1651,500000.0,FEMALE,graduate school,MARRIED,45,-1,-1,-1,36954.0,-24704.0,22999.0,0.0,83000.0,0.0

In [6]:
import pandas as pd
encoded_df_train = pd.get_dummies(df_train)

In [7]:
encoded_df_train.head()

,ID,LIMIT_BAL,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,INSTALLMENT_AMT_2,INSTALLMENT_AMT_3,INSTALLMENT_PAID_1,...,SEX_FEMALE,SEX_MALE,EDUCATION_Unknown,EDUCATION_graduate school,EDUCATION_high school,EDUCATION_university,MARITAL_STATUS_0,MARITAL_STATUS_3,MARITAL_STATUS_MARRIED,MARITAL_STATUS_SINGLE
0,12194,220000.0,54,1,-2,-1,0.0,0.0,788.0,0.0,...,True,False,False,True,False,False,False,False,True,False
1,7068,90000.0,30,2,2,3,750.0,750.0,750.0,0.0,...,True,False,False,True,False,False,False,False,False,True
2,1446,80000.0,25,2,3,2,69602.0,67930.0,72205.0,0.0,...,True,False,False,False,False,True,False,False,False,True
3,318,260000.0,53,1,-1,-1,0.0,165.0,526.0,165.0,...,True,False,False,False,True,False,False,False,True,False
4,13732,30000.0,23,0,0,0,25287.0,26501.0,30300.0,2011.0,...,True,False,False,False,False,True,False,False,False,True

In [8]:
cols=encoded_df_train.columns
print(cols)

Index(['ID', 'LIMIT_BAL', 'AGE', 'INSTALLMENT_1', 'INSTALLMENT_2',
       'INSTALLMENT_3', 'INSTALLMENT_AMT_1', 'INSTALLMENT_AMT_2',
       'INSTALLMENT_AMT_3', 'INSTALLMENT_PAID_1', 'INSTALLMENT_PAID_2',
       'INSTALLMENT_PAID_3', 'DEFAULT.PAYMENT.NEXT.MONTH', 'SEX_FEMALE',
       'SEX_MALE', 'EDUCATION_Unknown', 'EDUCATION_graduate school',
       'EDUCATION_high school', 'EDUCATION_university', 'MARITAL_STATUS_0',
       'MARITAL_STATUS_3', 'MARITAL_STATUS_MARRIED', 'MARITAL_STATUS_SINGLE'],
      dtype='object')

In [9]:
# Perform feature crossing for selected features
encoded_df_train['CROSS_LIMIT_BAL_AGE'] = encoded_df_train['LIMIT_BAL'] * encoded_df_train['AGE']
encoded_df_train['CROSS_INSTALLMENT_1_2'] = encoded_df_train['INSTALLMENT_1'] * encoded_df_train['INSTALLMENT_2']
encoded_df_train['CROSS_INSTALLMENT_1_3'] = encoded_df_train['INSTALLMENT_1'] * encoded_df_train['INSTALLMENT_3']
encoded_df_train['CROSS_INSTALLMENT_2_3'] = encoded_df_train['INSTALLMENT_2'] * encoded_df_train['INSTALLMENT_3']
encoded_df_train['CROSS_INSTALLMENT_AMT_1_2'] = encoded_df_train['INSTALLMENT_AMT_1'] * encoded_df_train['INSTALLMENT_AMT_2']
encoded_df_train['CROSS_INSTALLMENT_AMT_2_3'] = encoded_df_train['INSTALLMENT_AMT_2'] * encoded_df_train['INSTALLMENT_AMT_3']
encoded_df_train['CROSS_INSTALLMENT_PAID_1_2'] = encoded_df_train['INSTALLMENT_PAID_1'] * encoded_df_train['INSTALLMENT_PAID_2']
encoded_df_train['CROSS_INSTALLMENT_PAID_1_3'] = encoded_df_train['INSTALLMENT_PAID_1'] * encoded_df_train['INSTALLMENT_PAID_3']
encoded_df_train['CROSS_INSTALLMENT_PAID_2_3'] = encoded_df_train['INSTALLMENT_PAID_2'] * encoded_df_train['INSTALLMENT_PAID_3']

In [10]:
encoded_df_train

,ID,LIMIT_BAL,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,INSTALLMENT_AMT_2,INSTALLMENT_AMT_3,INSTALLMENT_PAID_1,...,MARITAL_STATUS_SINGLE,CROSS_LIMIT_BAL_AGE,CROSS_INSTALLMENT_1_2,CROSS_INSTALLMENT_1_3,CROSS_INSTALLMENT_2_3,CROSS_INSTALLMENT_AMT_1_2,CROSS_INSTALLMENT_AMT_2_3,CROSS_INSTALLMENT_PAID_1_2,CROSS_INSTALLMENT_PAID_1_3,CROSS_INSTALLMENT_PAID_2_3
0,12194,220000.0,54,1,-2,-1,0.0,0.0,788.0,0.0,...,False,11880000.0,-2,-1,2,0.000000e+00,0.000000e+00,0.0,0.0,0.0
1,7068,90000.0,30,2,2,3,750.0,750.0,750.0,0.0,...,True,2700000.0,4,6,6,5.625000e+05,5.625000e+05,0.0,0.0,0.0
2,1446,80000.0,25,2,3,2,69602.0,67930.0,72205.0,0.0,...,True,2000000.0,6,4,6,4.728064e+09,4.904886e+09,0.0,0.0,16200000.0
3,318,260000.0,53,1,-1,-1,0.0,165.0,526.0,165.0,...,False,13780000.0,-1,-1,1,0.000000e+00,8.679000e+04,86790.0,74580.0,237752.0
4,13732,30000.0,23,0,0,0,25287.0,26501.0,30300.0,2011.0,...,True,690000.0,0,0,0,6.701308e+08,8.029803e+08,10055000.0,1745548.0,4340000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20995,16350,210000.0,37,-1,-1,-1,349.0,10128.0,19631.0,10152.0,...,True,7770000.0,1,1,1,3.534672e+06,1.988228e+08,199293912.0,242693712.0,469298686.0
20996,5187,230000.0,39,0,0,0,38395.0,39943.0,20650.0,2500.0,...,True,8970000.0,0,0,0,1.533611e+09,8.248230e+08,5000000.0,0.0,0.0
20997,4825,200000.0,31,0,0,0,160292.0,119080.0,113723.0,6036.0,...,False,6200000.0,0,0,0,1.908757e+10,1.354213e+10,24156072.0,24174180.0,16028010.0
20998,29044,50000.0,50,0,0,0,32570.0,34713.0,39803.0,3000.0,...,False,2500000.0,0,0,0,1.130602e+09,1.381682e+09,18000000.0,9000000.0,18000000.0
20999,28154,210000.0,34,0,0,0,73329.0,74261.0,75602.0,2700.0,...,False,7140000.0,0,0,0,5.445485e+09,5.614280e+09,9450000.0,8910000.0,11550000.0

In [11]:
# Perform feature crossing for selected features
encoded_df_train['CROSS_LIMIT_BAL_AGE'] = encoded_df_train['LIMIT_BAL'] * encoded_df_train['AGE']
encoded_df_train['CROSS_INSTALLMENT_1_2'] = encoded_df_train['INSTALLMENT_1'] * encoded_df_train['INSTALLMENT_2']
encoded_df_train['CROSS_INSTALLMENT_1_3'] = encoded_df_train['INSTALLMENT_1'] * encoded_df_train['INSTALLMENT_3']
encoded_df_train['CROSS_INSTALLMENT_2_3'] = encoded_df_train['INSTALLMENT_2'] * encoded_df_train['INSTALLMENT_3']
encoded_df_train['CROSS_INSTALLMENT_AMT_1_2'] = encoded_df_train['INSTALLMENT_AMT_1'] * encoded_df_train['INSTALLMENT_AMT_2']
encoded_df_train['CROSS_INSTALLMENT_AMT_1_3'] = encoded_df_train['INSTALLMENT_AMT_1'] * encoded_df_train['INSTALLMENT_AMT_3']
encoded_df_train['CROSS_INSTALLMENT_AMT_2_3'] = encoded_df_train['INSTALLMENT_AMT_2'] * encoded_df_train['INSTALLMENT_AMT_3']
encoded_df_train['CROSS_INSTALLMENT_PAID_1_2'] = encoded_df_train['INSTALLMENT_PAID_1'] * encoded_df_train['INSTALLMENT_PAID_2']
encoded_df_train['CROSS_INSTALLMENT_PAID_1_3'] = encoded_df_train['INSTALLMENT_PAID_1'] * encoded_df_train['INSTALLMENT_PAID_3']
encoded_df_train['CROSS_INSTALLMENT_PAID_2_3'] = encoded_df_train['INSTALLMENT_PAID_2'] * encoded_df_train['INSTALLMENT_PAID_3']
# Display the DataFrame with crossed features
encoded_df_train.head()

,ID,LIMIT_BAL,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,INSTALLMENT_AMT_2,INSTALLMENT_AMT_3,INSTALLMENT_PAID_1,...,CROSS_LIMIT_BAL_AGE,CROSS_INSTALLMENT_1_2,CROSS_INSTALLMENT_1_3,CROSS_INSTALLMENT_2_3,CROSS_INSTALLMENT_AMT_1_2,CROSS_INSTALLMENT_AMT_2_3,CROSS_INSTALLMENT_PAID_1_2,CROSS_INSTALLMENT_PAID_1_3,CROSS_INSTALLMENT_PAID_2_3,CROSS_INSTALLMENT_AMT_1_3
0,12194,220000.0,54,1,-2,-1,0.0,0.0,788.0,0.0,...,11880000.0,-2,-1,2,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.000000e+00
1,7068,90000.0,30,2,2,3,750.0,750.0,750.0,0.0,...,2700000.0,4,6,6,5.625000e+05,5.625000e+05,0.0,0.0,0.0,5.625000e+05
2,1446,80000.0,25,2,3,2,69602.0,67930.0,72205.0,0.0,...,2000000.0,6,4,6,4.728064e+09,4.904886e+09,0.0,0.0,16200000.0,5.025612e+09
3,318,260000.0,53,1,-1,-1,0.0,165.0,526.0,165.0,...,13780000.0,-1,-1,1,0.000000e+00,8.679000e+04,86790.0,74580.0,237752.0,0.000000e+00
4,13732,30000.0,23,0,0,0,25287.0,26501.0,30300.0,2011.0,...,690000.0,0,0,0,6.701308e+08,8.029803e+08,10055000.0,1745548.0,4340000.0,7.661961e+08

In [12]:
# Initialize an empty list to store column names requiring scaling
columns_to_scale = []

# Iterate through each column in encoded_df_train
for column in encoded_df_train.columns:
    # Check if the column contains numerical values
    if encoded_df_train[column].dtype in ['int64', 'float64']:
        # Check if the range of values in the column suggests it needs scaling
        if encoded_df_train[column].max() > 1 or encoded_df_train[column].min() < 0:
            columns_to_scale.append(column)

# Print the list of columns needing scaling
print("Columns needing scaling:", columns_to_scale)

Columns needing scaling: ['ID', 'LIMIT_BAL', 'AGE', 'INSTALLMENT_1', 'INSTALLMENT_2', 'INSTALLMENT_3', 'INSTALLMENT_AMT_1', 'INSTALLMENT_AMT_2', 'INSTALLMENT_AMT_3', 'INSTALLMENT_PAID_1', 'INSTALLMENT_PAID_2', 'INSTALLMENT_PAID_3', 'CROSS_LIMIT_BAL_AGE', 'CROSS_INSTALLMENT_1_2', 'CROSS_INSTALLMENT_1_3', 'CROSS_INSTALLMENT_2_3', 'CROSS_INSTALLMENT_AMT_1_2', 'CROSS_INSTALLMENT_AMT_2_3', 'CROSS_INSTALLMENT_PAID_1_2', 'CROSS_INSTALLMENT_PAID_1_3', 'CROSS_INSTALLMENT_PAID_2_3', 'CROSS_INSTALLMENT_AMT_1_3']

In [13]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Select the columns to scale
columns_to_scale = columns_to_scale[1:]
# Fit the scaler to the selected columns and transform the data
scaled_columns = scaler.fit_transform(encoded_df_train[columns_to_scale])

# Convert the scaled array back to a DataFrame
scaled_columns_df = pd.DataFrame(scaled_columns, columns=columns_to_scale)

# Replace the original columns with the scaled values in the original DataFrame
encoded_df_train[columns_to_scale] = scaled_columns_df

# Now you have the DataFrame encoded_df_train with only the 'LIMIT_BAL' and 'AGE' columns scaled

In [14]:
encoded_df_train.head()

,ID,LIMIT_BAL,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,INSTALLMENT_AMT_2,INSTALLMENT_AMT_3,INSTALLMENT_PAID_1,...,CROSS_LIMIT_BAL_AGE,CROSS_INSTALLMENT_1_2,CROSS_INSTALLMENT_1_3,CROSS_INSTALLMENT_2_3,CROSS_INSTALLMENT_AMT_1_2,CROSS_INSTALLMENT_AMT_2_3,CROSS_INSTALLMENT_PAID_1_2,CROSS_INSTALLMENT_PAID_1_3,CROSS_INSTALLMENT_PAID_2_3,CROSS_INSTALLMENT_AMT_1_3
0,12194,0.396860,1.999899,0.893938,-1.553900,-0.695368,-0.695013,-0.691019,-0.663427,-0.329290,...,1.075976,-1.134506,-0.767139,0.369234,-0.315909,-0.318917,-0.019553,-0.022150,-0.019598,-0.319587
1,7068,-0.602047,-0.598993,1.777817,1.769274,2.634595,-0.684911,-0.680530,-0.663969,-0.329290,...,-0.648591,1.198459,2.240528,2.063986,-0.315886,-0.318891,-0.019553,-0.022150,-0.019598,-0.319561
2,1446,-0.678886,-1.140429,1.777817,2.600067,1.802104,0.242446,0.258981,0.355898,-0.329290,...,-0.780094,1.976114,1.381195,2.063986,-0.119173,-0.094349,-0.019553,-0.022150,-0.017512,-0.091825
3,318,0.704216,1.891612,0.893938,-0.723107,-0.695368,-0.695013,-0.688711,-0.667166,-0.319814,...,1.432912,-0.745679,-0.767139,-0.054454,-0.315909,-0.318913,-0.019543,-0.022137,-0.019567,-0.319587
4,13732,-1.063081,-1.357003,0.010059,0.107687,0.137123,-0.354426,-0.320403,-0.242206,-0.213790,...,-1.026192,-0.356851,-0.337473,-0.478142,-0.288025,-0.282153,-0.018366,-0.021833,-0.019039,-0.284863

In [15]:
for column in df_train.columns:
    # Check if the column has string values
    if df_train[column].dtype == 'object':
        # Print column name
        print(f"Column '{column}':")
        
        # Get unique values in the column
        unique_values = df_train[column].unique()
        
        # Print number of unique values
        unique_count = len(unique_values)
        print(f"Number of unique values: {unique_count}")
        
        # Count occurrences of each unique value
        for value in unique_values:
            count = df_train[column].value_counts()[value]
            print(f" - {value}: {count}")
        
        print("\n")

Column 'SEX':
Number of unique values: 2
 - FEMALE: 12699
 - MALE: 8301


Column 'EDUCATION':
Number of unique values: 4
 - graduate school: 7485
 - university: 9751
 - high school: 3433
 - Unknown: 331


Column 'MARITAL_STATUS':
Number of unique values: 4
 - MARRIED: 9624
 - SINGLE: 11117
 - 3: 221
 - 0: 38

In [32]:
cols=encoded_df_train.columns
df_res = pd.read_csv('predictions5.csv')
print(cols)

Index(['ID', 'LIMIT_BAL', 'AGE', 'INSTALLMENT_1', 'INSTALLMENT_2',
       'INSTALLMENT_3', 'INSTALLMENT_AMT_1', 'INSTALLMENT_AMT_2',
       'INSTALLMENT_AMT_3', 'INSTALLMENT_PAID_1', 'INSTALLMENT_PAID_2',
       'INSTALLMENT_PAID_3', 'DEFAULT.PAYMENT.NEXT.MONTH', 'SEX_FEMALE',
       'SEX_MALE', 'EDUCATION_Unknown', 'EDUCATION_graduate school',
       'EDUCATION_high school', 'EDUCATION_university', 'MARITAL_STATUS_0',
       'MARITAL_STATUS_3', 'MARITAL_STATUS_MARRIED', 'MARITAL_STATUS_SINGLE',
       'CROSS_LIMIT_BAL_AGE', 'CROSS_INSTALLMENT_1_2', 'CROSS_INSTALLMENT_1_3',
       'CROSS_INSTALLMENT_2_3', 'CROSS_INSTALLMENT_AMT_1_2',
       'CROSS_INSTALLMENT_AMT_2_3', 'CROSS_INSTALLMENT_PAID_1_2',
       'CROSS_INSTALLMENT_PAID_1_3', 'CROSS_INSTALLMENT_PAID_2_3',
       'CROSS_INSTALLMENT_AMT_1_3'],
      dtype='object')

In [35]:
encoded_df_train.describe()

,ID,LIMIT_BAL,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,INSTALLMENT_AMT_2,INSTALLMENT_AMT_3,INSTALLMENT_PAID_1,...,CROSS_LIMIT_BAL_AGE,CROSS_INSTALLMENT_1_2,CROSS_INSTALLMENT_1_3,CROSS_INSTALLMENT_2_3,CROSS_INSTALLMENT_AMT_1_2,CROSS_INSTALLMENT_AMT_2_3,CROSS_INSTALLMENT_PAID_1_2,CROSS_INSTALLMENT_PAID_1_3,CROSS_INSTALLMENT_PAID_2_3,CROSS_INSTALLMENT_AMT_1_3
count,21000.000000,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,...,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04,2.100000e+04
mean,14989.511667,-4.703116e-17,-2.131628e-16,-6.631732e-17,-9.473903e-18,-5.549000e-17,2.165464e-17,3.620384e-17,-1.725604e-17,1.759439e-17,...,7.029298e-17,6.767074e-19,-5.413659e-18,3.172066e-17,2.368476e-18,3.383537e-18,3.383537e-18,6.597897e-18,-5.244482e-18,-2.131628e-17
std,8671.132777,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,...,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00
min,1.000000,-1.216759e+00,-1.573578e+00,-1.757698e+00,-1.553900e+00,-1.527858e+00,-2.925186e+00,-1.157418e+00,-1.552540e+00,-3.292904e-01,...,-1.116366e+00,-2.300989e+00,-2.056140e+00,-2.172894e+00,-2.550915e+00,-1.697033e+00,-1.955298e-02,-2.215031e-02,-1.959804e-02,-2.547795e+00
25%,7487.750000,-9.094030e-01,-8.155674e-01,-8.738195e-01,-7.231068e-01,-6.953675e-01,-6.480066e-01,-6.504835e-01,-6.382673e-01,-2.766375e-01,...,-7.800940e-01,-3.568511e-01,-3.374726e-01,-4.781420e-01,-3.156081e-01,-3.186719e-01,-1.955298e-02,-2.215031e-02,-1.959804e-02,-3.193257e-01
50%,14980.500000,-2.178518e-01,-1.658444e-01,1.005938e-02,1.076867e-01,1.371231e-01,-3.909131e-01,-3.946701e-01,-3.886743e-01,-2.086783e-01,...,-2.615968e-01,-3.568511e-01,-3.374726e-01,-4.781420e-01,-2.981377e-01,-3.011548e-01,-1.910877e-02,-2.158945e-02,-1.922726e-02,-3.020404e-01
75%,22492.250000,5.505384e-01,5.921658e-01,1.005938e-02,1.076867e-01,1.371231e-01,2.132695e-01,2.091455e-01,1.872106e-01,-4.183159e-02,...,4.785768e-01,3.197644e-02,9.219421e-02,-5.445400e-02,-1.451193e-01,-1.506983e-01,-1.714386e-02,-1.873652e-02,-1.731010e-02,-1.537254e-01
max,30000.000000,6.390304e+00,4.707078e+00,7.081090e+00,5.923241e+00,6.797048e+00,1.229585e+01,1.306924e+01,2.307663e+01,4.984259e+01,...,7.673665e+00,2.141749e+01,2.028653e+01,1.731676e+01,3.917275e+01,2.378309e+01,1.253013e+02,1.411233e+02,1.391007e+02,2.306715e+01

In [36]:
# Select features (X) from the 2nd column to the second last column
X = encoded_df_train.iloc[:, 1:-1]

# Select the target variable (y) which is the last column
y = encoded_df_train.iloc[:, -1]

In [37]:
encoded_df_train

,ID,LIMIT_BAL,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,INSTALLMENT_AMT_2,INSTALLMENT_AMT_3,INSTALLMENT_PAID_1,...,CROSS_LIMIT_BAL_AGE,CROSS_INSTALLMENT_1_2,CROSS_INSTALLMENT_1_3,CROSS_INSTALLMENT_2_3,CROSS_INSTALLMENT_AMT_1_2,CROSS_INSTALLMENT_AMT_2_3,CROSS_INSTALLMENT_PAID_1_2,CROSS_INSTALLMENT_PAID_1_3,CROSS_INSTALLMENT_PAID_2_3,CROSS_INSTALLMENT_AMT_1_3
0,12194,0.396860,1.999899,0.893938,-1.553900,-0.695368,-0.695013,-0.691019,-0.663427,-0.329290,...,1.075976,-1.134506,-0.767139,0.369234,-0.315909,-0.318917,-0.019553,-0.022150,-0.019598,-0.319587
1,7068,-0.602047,-0.598993,1.777817,1.769274,2.634595,-0.684911,-0.680530,-0.663969,-0.329290,...,-0.648591,1.198459,2.240528,2.063986,-0.315886,-0.318891,-0.019553,-0.022150,-0.019598,-0.319561
2,1446,-0.678886,-1.140429,1.777817,2.600067,1.802104,0.242446,0.258981,0.355898,-0.329290,...,-0.780094,1.976114,1.381195,2.063986,-0.119173,-0.094349,-0.019553,-0.022150,-0.017512,-0.091825
3,318,0.704216,1.891612,0.893938,-0.723107,-0.695368,-0.695013,-0.688711,-0.667166,-0.319814,...,1.432912,-0.745679,-0.767139,-0.054454,-0.315909,-0.318913,-0.019543,-0.022137,-0.019567,-0.319587
4,13732,-1.063081,-1.357003,0.010059,0.107687,0.137123,-0.354426,-0.320403,-0.242206,-0.213790,...,-1.026192,-0.356851,-0.337473,-0.478142,-0.288025,-0.282153,-0.018366,-0.021833,-0.019039,-0.284863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20995,16350,0.320021,0.159017,-0.873819,-0.723107,-0.695368,-0.690312,-0.549379,-0.394483,0.253783,...,0.303866,0.031976,0.092194,-0.054454,-0.315762,-0.309814,0.003970,0.021957,0.040821,-0.319276
20996,5187,0.473699,0.375591,0.010059,0.107687,0.137123,-0.177876,-0.132417,-0.379939,-0.185705,...,0.529299,-0.356851,-0.337473,-0.478142,-0.252095,-0.281153,-0.018963,-0.022150,-0.019598,-0.283654
20997,4825,0.243182,-0.490706,0.010059,0.107687,0.137123,1.463937,0.974313,0.948479,0.017383,...,0.008924,-0.356851,-0.337473,-0.478142,0.478330,0.301103,-0.016702,-0.017757,-0.017535,0.506551
20998,29044,-0.909403,1.566750,0.010059,0.107687,0.137123,-0.256332,-0.205558,-0.106571,-0.156987,...,-0.686163,-0.356851,-0.337473,-0.478142,-0.268865,-0.255658,-0.017428,-0.020515,-0.017281,-0.260834
20999,28154,0.320021,-0.165844,0.010059,0.107687,0.137123,0.292645,0.347520,0.404383,-0.174218,...,0.185513,-0.356851,-0.337473,-0.478142,-0.089321,-0.061870,-0.018438,-0.020531,-0.018111,-0.068339

In [38]:
X = encoded_df_train.drop(columns=['DEFAULT.PAYMENT.NEXT.MONTH','ID'])
X

,LIMIT_BAL,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,INSTALLMENT_AMT_2,INSTALLMENT_AMT_3,INSTALLMENT_PAID_1,INSTALLMENT_PAID_2,...,CROSS_LIMIT_BAL_AGE,CROSS_INSTALLMENT_1_2,CROSS_INSTALLMENT_1_3,CROSS_INSTALLMENT_2_3,CROSS_INSTALLMENT_AMT_1_2,CROSS_INSTALLMENT_AMT_2_3,CROSS_INSTALLMENT_PAID_1_2,CROSS_INSTALLMENT_PAID_1_3,CROSS_INSTALLMENT_PAID_2_3,CROSS_INSTALLMENT_AMT_1_3
0,0.396860,1.999899,0.893938,-1.553900,-0.695368,-0.695013,-0.691019,-0.663427,-0.329290,-0.205594,...,1.075976,-1.134506,-0.767139,0.369234,-0.315909,-0.318917,-0.019553,-0.022150,-0.019598,-0.319587
1,-0.602047,-0.598993,1.777817,1.769274,2.634595,-0.684911,-0.680530,-0.663969,-0.329290,-0.236794,...,-0.648591,1.198459,2.240528,2.063986,-0.315886,-0.318891,-0.019553,-0.022150,-0.019598,-0.319561
2,-0.678886,-1.140429,1.777817,2.600067,1.802104,0.242446,0.258981,0.355898,-0.329290,0.000774,...,-0.780094,1.976114,1.381195,2.063986,-0.119173,-0.094349,-0.019553,-0.022150,-0.017512,-0.091825
3,0.704216,1.891612,0.893938,-0.723107,-0.695368,-0.695013,-0.688711,-0.667166,-0.319814,-0.215967,...,1.432912,-0.745679,-0.767139,-0.054454,-0.315909,-0.318913,-0.019543,-0.022137,-0.019567,-0.319587
4,-1.063081,-1.357003,0.010059,0.107687,0.137123,-0.354426,-0.320403,-0.242206,-0.213790,-0.038820,...,-1.026192,-0.356851,-0.337473,-0.478142,-0.288025,-0.282153,-0.018366,-0.021833,-0.019039,-0.284863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20995,0.320021,0.159017,-0.873819,-0.723107,-0.695368,-0.690312,-0.549379,-0.394483,0.253783,0.540491,...,0.303866,0.031976,0.092194,-0.054454,-0.315762,-0.309814,0.003970,0.021957,0.040821,-0.319276
20996,0.473699,0.375591,0.010059,0.107687,0.137123,-0.177876,-0.132417,-0.379939,-0.185705,-0.157605,...,0.529299,-0.356851,-0.337473,-0.478142,-0.252095,-0.281153,-0.018963,-0.022150,-0.019598,-0.283654
20997,0.243182,-0.490706,0.010059,0.107687,0.137123,1.463937,0.974313,0.948479,0.017383,-0.078336,...,0.008924,-0.356851,-0.337473,-0.478142,0.478330,0.301103,-0.016702,-0.017757,-0.017535,0.506551
20998,-0.909403,1.566750,0.010059,0.107687,0.137123,-0.256332,-0.205558,-0.106571,-0.156987,0.000774,...,-0.686163,-0.356851,-0.337473,-0.478142,-0.268865,-0.255658,-0.017428,-0.020515,-0.017281,-0.260834
20999,0.320021,-0.165844,0.010059,0.107687,0.137123,0.292645,0.347520,0.404383,-0.174218,-0.098212,...,0.185513,-0.356851,-0.337473,-0.478142,-0.089321,-0.061870,-0.018438,-0.020531,-0.018111,-0.068339

In [39]:
y=encoded_df_train['DEFAULT.PAYMENT.NEXT.MONTH']
y

0        0
1        0
2        0
3        0
4        0
        ..
20995    1
20996    0
20997    0
20998    0
20999    0
Name: DEFAULT.PAYMENT.NEXT.MONTH, Length: 21000, dtype: int64

In [40]:
# Assuming you have sensitive features in a variable named sensitive_features_test
# Replace this with your actual sensitive features
sensitive_features = encoded_df_train[
    ['AGE', 'SEX_FEMALE', 'SEX_MALE', 'EDUCATION_Unknown', 
     'EDUCATION_graduate school', 'EDUCATION_high school', 'EDUCATION_university',
     'MARITAL_STATUS_0', 'MARITAL_STATUS_3', 'MARITAL_STATUS_MARRIED', 'MARITAL_STATUS_SINGLE']
]

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import GradientBoostingClassifier
from fairlearn.metrics import demographic_parity_difference, equalized_odds_difference

# Split the data into train and test sets
X_train, X_test, y_train, y_test, sensitive_features_train, sensitive_features_test = train_test_split(
    X, y, sensitive_features, test_size=0.2, random_state=42)

# Define hyperparameters
n_estimators = 100
learning_rate = 0.1
max_depth = 3

# Train your model (Gradient Boosting Classifier in this example)
gb_classifier = GradientBoostingClassifier(n_estimators=n_estimators, 
                                           learning_rate=learning_rate, 
                                           max_depth=max_depth,
                                           random_state=42)
gb_classifier.fit(X_train, y_train)

# Make predictions
y_pred = gb_classifier.predict(X_test)

# Evaluate model performance
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

# Print model evaluation results
print("Model Evaluation Results:")
print("-" * 30)
print("Accuracy:", accuracy)

# Print hyperparameters
print("\nHyperparameters:")
print("-" * 30)
print(f"Number of Estimators: {n_estimators}")
print(f"Learning Rate: {learning_rate}")
print(f"Maximum Depth: {max_depth}")

# Calculate fairness metrics
dp_diff = demographic_parity_difference(y_test, y_pred, sensitive_features=sensitive_features_test)
eo_diff = equalized_odds_difference(y_test, y_pred, sensitive_features=sensitive_features_test)

# Print fairness metrics
print("\nFairness Metrics:")
print("-" * 30)
print("Demographic Parity Difference (DPD):", dp_diff)
print("Equalized Odds Difference (EOD):", eo_diff)

# Print classification report
print("\nClassification Report:")
print(classification_rep)

Model Evaluation Results:
------------------------------
Accuracy: 0.8202380952380952

Hyperparameters:
------------------------------
Number of Estimators: 100
Learning Rate: 0.1
Maximum Depth: 3

Fairness Metrics:
------------------------------
Demographic Parity Difference (DPD): 1.0
Equalized Odds Difference (EOD): 1.0

Classification Report:
              precision    recall  f1-score   support

           0       0.84      0.95      0.89      3259
           1       0.68      0.38      0.48       941

    accuracy                           0.82      4200
   macro avg       0.76      0.66      0.69      4200
weighted avg       0.80      0.82      0.80      4200

In [42]:
df_test.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARITAL_STATUS,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,...,CROSS_INSTALLMENT_1_INSTALLMENT_2,CROSS_INSTALLMENT_1_INSTALLMENT_3,CROSS_INSTALLMENT_2_INSTALLMENT_3,CROSS_INSTALLMENT_AMT_1_INSTALLMENT_AMT_2,CROSS_INSTALLMENT_AMT_1_INSTALLMENT_AMT_3,CROSS_INSTALLMENT_AMT_2_INSTALLMENT_AMT_3,CROSS_INSTALLMENT_PAID_1_INSTALLMENT_PAID_2,CROSS_INSTALLMENT_PAID_1_INSTALLMENT_PAID_3,CROSS_INSTALLMENT_PAID_2_INSTALLMENT_PAID_3,DEFAULT.PAYMENT.NEXT.MONTH
0,16691,150000.0,MALE,university,MARRIED,36,2,2,0,88655.0,...,4,0,0,7.653852e+09,7.884178e+09,7.677680e+09,0.0,0.0,20000000.0,1
1,15039,50000.0,MALE,university,SINGLE,33,0,0,0,8406.0,...,0,0,0,7.076171e+07,7.016488e+07,7.026505e+07,9000000.0,22524000.0,22524000.0,0
2,7736,30000.0,FEMALE,graduate school,SINGLE,28,0,0,0,36541.0,...,0,0,0,6.440351e+08,9.589455e+08,4.625329e+08,55000000.0,15000000.0,33000000.0,0
3,20871,200000.0,MALE,graduate school,SINGLE,31,1,2,2,182307.0,...,2,2,4,3.393244e+10,3.600727e+10,3.676196e+10,131970000.0,1660000.0,3180000.0,1
4,1651,500000.0,FEMALE,graduate school,MARRIED,45,-1,-1,-1,36954.0,...,1,1,1,-9.129116e+08,8.499050e+08,-5.681673e+08,0.0,0.0,0.0,0

In [43]:
from sklearn.ensemble import RandomForestClassifier

# Define the pairs of features for feature crossing
feature_pairs = [('LIMIT_BAL', 'AGE'), ('INSTALLMENT_1', 'INSTALLMENT_2'), ('INSTALLMENT_1', 'INSTALLMENT_3'),
                 ('INSTALLMENT_2', 'INSTALLMENT_3'), ('INSTALLMENT_AMT_1', 'INSTALLMENT_AMT_2'),
                 ('INSTALLMENT_AMT_1', 'INSTALLMENT_AMT_3'), ('INSTALLMENT_AMT_2', 'INSTALLMENT_AMT_3'),
                 ('INSTALLMENT_PAID_1', 'INSTALLMENT_PAID_2'), ('INSTALLMENT_PAID_1', 'INSTALLMENT_PAID_3'),
                 ('INSTALLMENT_PAID_2', 'INSTALLMENT_PAID_3')]

# Perform feature crossing for selected pairs of features
for feature1, feature2 in feature_pairs:
    df_test[f'CROSS_{feature1}_{feature2}'] = df_test[feature1] * df_test[feature2]

# Encode the test data with the same features as X_train
df_test_encoded = pd.get_dummies(df_test)

# Align the columns of df_test_encoded with those used during training
df_test_aligned = df_test_encoded.reindex(columns=X_train.columns, fill_value=0)

# Make predictions on the aligned test data
y_pred_test = gb_classifier.predict(df_test_aligned)

# Add the predicted values as a new column to df_test
df_test['DEFAULT.PAYMENT.NEXT.MONTH'] = y_pred_test

# Display the updated df_test DataFrame with predicted values
df_test.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARITAL_STATUS,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,...,CROSS_INSTALLMENT_1_INSTALLMENT_2,CROSS_INSTALLMENT_1_INSTALLMENT_3,CROSS_INSTALLMENT_2_INSTALLMENT_3,CROSS_INSTALLMENT_AMT_1_INSTALLMENT_AMT_2,CROSS_INSTALLMENT_AMT_1_INSTALLMENT_AMT_3,CROSS_INSTALLMENT_AMT_2_INSTALLMENT_AMT_3,CROSS_INSTALLMENT_PAID_1_INSTALLMENT_PAID_2,CROSS_INSTALLMENT_PAID_1_INSTALLMENT_PAID_3,CROSS_INSTALLMENT_PAID_2_INSTALLMENT_PAID_3,DEFAULT.PAYMENT.NEXT.MONTH
0,16691,150000.0,MALE,university,MARRIED,36,2,2,0,88655.0,...,4,0,0,7.653852e+09,7.884178e+09,7.677680e+09,0.0,0.0,20000000.0,1
1,15039,50000.0,MALE,university,SINGLE,33,0,0,0,8406.0,...,0,0,0,7.076171e+07,7.016488e+07,7.026505e+07,9000000.0,22524000.0,22524000.0,0
2,7736,30000.0,FEMALE,graduate school,SINGLE,28,0,0,0,36541.0,...,0,0,0,6.440351e+08,9.589455e+08,4.625329e+08,55000000.0,15000000.0,33000000.0,0
3,20871,200000.0,MALE,graduate school,SINGLE,31,1,2,2,182307.0,...,2,2,4,3.393244e+10,3.600727e+10,3.676196e+10,131970000.0,1660000.0,3180000.0,1
4,1651,500000.0,FEMALE,graduate school,MARRIED,45,-1,-1,-1,36954.0,...,1,1,1,-9.129116e+08,8.499050e+08,-5.681673e+08,0.0,0.0,0.0,0

In [44]:
df_test.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARITAL_STATUS,AGE,INSTALLMENT_1,INSTALLMENT_2,INSTALLMENT_3,INSTALLMENT_AMT_1,...,CROSS_INSTALLMENT_1_INSTALLMENT_2,CROSS_INSTALLMENT_1_INSTALLMENT_3,CROSS_INSTALLMENT_2_INSTALLMENT_3,CROSS_INSTALLMENT_AMT_1_INSTALLMENT_AMT_2,CROSS_INSTALLMENT_AMT_1_INSTALLMENT_AMT_3,CROSS_INSTALLMENT_AMT_2_INSTALLMENT_AMT_3,CROSS_INSTALLMENT_PAID_1_INSTALLMENT_PAID_2,CROSS_INSTALLMENT_PAID_1_INSTALLMENT_PAID_3,CROSS_INSTALLMENT_PAID_2_INSTALLMENT_PAID_3,DEFAULT.PAYMENT.NEXT.MONTH
0,16691,150000.0,MALE,university,MARRIED,36,2,2,0,88655.0,...,4,0,0,7.653852e+09,7.884178e+09,7.677680e+09,0.0,0.0,20000000.0,1
1,15039,50000.0,MALE,university,SINGLE,33,0,0,0,8406.0,...,0,0,0,7.076171e+07,7.016488e+07,7.026505e+07,9000000.0,22524000.0,22524000.0,0
2,7736,30000.0,FEMALE,graduate school,SINGLE,28,0,0,0,36541.0,...,0,0,0,6.440351e+08,9.589455e+08,4.625329e+08,55000000.0,15000000.0,33000000.0,0
3,20871,200000.0,MALE,graduate school,SINGLE,31,1,2,2,182307.0,...,2,2,4,3.393244e+10,3.600727e+10,3.676196e+10,131970000.0,1660000.0,3180000.0,1
4,1651,500000.0,FEMALE,graduate school,MARRIED,45,-1,-1,-1,36954.0,...,1,1,1,-9.129116e+08,8.499050e+08,-5.681673e+08,0.0,0.0,0.0,0

In [45]:
result_df=pd.DataFrame(res)

In [46]:
result_df.head()

      ID  res
0  16691    1
1  15039    0
2   7736    0
3  20871    1
4   1651    0

In [48]:
# Save the DataFrame to a CSV file
result_df.to_csv('predictions_final3.csv', index=False)